* {
  box-sizing: border-box;
}

body {
  background: #2b4abb;
  font-family: 'Indie Flower', cursive, sans-serif;
}

h2 {
  font-size: 24px;
}

.header {
  width: 100%;
  background: #2b4abb;
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 15px #4daabe;
  padding: 12px 0;
  border: 1px dashed #000;
  display: flex;
  justify-content: space-around;
  position: fixed;
}

.header a {
  color: lightgrey;
  text-shadow: 0 0 15px #4daabe;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.slider__item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 25%;
  border: 1px dotted #000;
  background-color: grey;
  font-family: 'Indie Flower', cursive, sans-serif;
  text-shadow: 0 0 15px #4daabe;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.7s;
}

.slider__item:hover {
  flex-basis: 70%;
}

.slider__item-1 {
  background: url("../img/spring.jpg") no-repeat center center;
  background-size: cover;
}

.slider__item-2 {
  background: url("../img/summer.jpg") no-repeat center center;
  background-size: cover;
}

.slider__item-3 {
  background: url("../img/autumn.jpg") no-repeat center center;
  background-size: cover;
}

.slider__item-4 {
  background: url("../img/winter.jpg") no-repeat center center;
  background-size: cover;
}

.archive {
  background: url("../img/archive.jpg") no-repeat center center;
  background-size: cover;
}

.archive a {
  color: aliceblue;
}

.slider__list li {
  padding: 10px;
}

.footer {
  width: 100%;
  /*height: 80px;*/
  /*background: lightblue;*/
  /*color: lightgrey;*/
  /*font-size: 40px;*/
  /*text-shadow: 0 0 15px #4daabe;*/
  padding: 12px 0;
  /*border: 1px dashed #000;*/
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer img {
  width: 40px;
  height: 40px;
}

.twitter,
.fb,
.google,
.git {
  margin: 5px;
}

.button-top {
  position: fixed;
  background-color: darkblue;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  bottom: 100px;
  top: 90%;
  left: 90%;
  text-decoration: none;
}

.button-top:before {
  content: '\21ba';
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  left: 5px;
  top: 6px;
}

.button-top:hover {
  background: #2a2a2a;
  -webkit-transition: all 1350ms;
  -moz-transition: all 1350ms;
  -ms-transition: all 1350ms;
  -o-transition: all 1350ms;
  transition: all 1350ms;
}

@media (max-width: 640px) {
  .header {
    width: 100%;
    font-size: 30px;
    text-shadow: 0 0 15px #4daabe;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }

   .slider {
    /*height: 100vh;*/
    flex-direction: column;
  }

  .slider__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .slider__item:hover {
     flex-basis: 80%;
   }
}


