* {
  box-sizing: border-box;
}

body {
  /*background: #2b4abb;*/
  font-family: 'Indie Flower', cursive, sans-serif;
}

h2 {
  font-size: 24px;
}

.header {
  width: 100%;
  background: #2c587a;
  background: radial-gradient(#eef5c4, #2c587a);
  font-size: 40px;
  text-shadow: 0 0 15px #4daabe;
  padding: 12px 0;
  border: 1px dashed #000;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 5;
}

.header a {
  color: #fff000;
  text-shadow: 0 0 15px #4daabe;
  text-decoration: none;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.slider__item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 25%;
  border: 1px dotted #000;
  background-color: grey;
  font-family: 'Indie Flower', cursive, sans-serif;
  text-shadow: 0 0 15px #4daabe;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.7s;
}

.slider__item:hover {
  flex-basis: 70%;
}

.slider__item-1 {
  background: url("../img/spring.jpg") no-repeat center center;
  background-size: cover;
}

.slider__item-2 {
  background: url("../img/summer.jpg") no-repeat center center;
  background-size: cover;
}

.slider__item-3 {
  background: url("../img/autumn.jpg") no-repeat center center;
  background-size: cover;
}

.slider__item-4 {
  background: url("../img/winter.jpg") no-repeat center center;
  background-size: cover;
}

.archive {
  background: url("../img/archive2.jpg") no-repeat center center;
  background-size: cover;
}

.slider__list li {
  padding: 10px;
}

.footer {
  width: 100%;
  padding: 12px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer img {
  width: 40px;
  height: 40px;
}

.twitter,
.fb,
.google,
.git {
  margin: 5px;
}

.scrollup {
  position: fixed; /* фиксированная позиция */
  color: #fff; /* цвет текста */
  background-color: #286090; /* цвет заднего фона */
  right: 0; /* расстояние от правого края */
  bottom: 20px; /* расстояние от нижнего края */
  padding: 10px; /* отступы до содержимого блока */
  font-size: 20px; /* размер шрифта (иконки) */
  border-top-left-radius: 10px; /* скругление верхнего левого угла */
  border-bottom-left-radius: 10px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
}

.scrollup:hover {
  background-color: #000 /* цвет заднего фона при наведении */
}

.to_archive {
  cursor: pointer; /* форма курсора */
}

@media (max-width: 640px) {
  .header {
    width: 100%;
    font-size: 30px;
    text-shadow: 0 0 15px #7ab7cc;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }

   .slider {
    /*height: 100vh;*/
    flex-direction: column;
  }

  .slider__item {
    width: 100%;
    flex-basis: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .slider__item:hover {
     flex-basis: 80%;
   }
}


